<ion-header no-boder>
  <ion-navbar transparent color="transp" class="bar-header">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="bar-header"></ion-icon>
    </button>
    <img src="assets/imgs/logoName.png" height="60px;">
    <!-- <ion-title style="color: red !important;">Kusina Filipina</ion-title> -->

    <ion-buttons end>
      <button ion-button class="button-header" (click)="callNow()">
        <h2>Call Us Now!</h2>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>



<ion-content >
  <div *ngIf="checkApp">
  <ion-row style="flex-wrap: inherit;overflow-x: scroll;" class="cover">
    <h2 class="title  welcomeText">About Kusina Filipina</h2>
     
  </ion-row>
  <ion-row no-padding>
			<div class="contentSections"> 
				<h2 class="title curvyFont mainHead goldenText" style="text-align: left !important;">About Us</h2>
        <h2 class="mainTexts headFont">DISCOVER OUR STORY</h2>
        <h2 class="lestMainTexts">Taste of Home</h2>
				<div class="subTexts">
					<p>We at Kusina Filipina aims to provide you the best experience every time you visit. We prepare the most authentic filipino food that will make you say "This tastes like home cooking" and we have friendly staff that will make you feel at home.
</p>
				</div>
				
        <div class="subDesc">
          <!-- <h2>Arizenia</h2>
          <h3>JOHN ARIZENIA</h3>
          <h4  class="subTexts">Founder of Restaurant</h4> -->
          <img src="assets/imgs/banner/homepage.jpg" alt="">
        </div>
			</div>
     
  </ion-row>
<!--   <ion-row no-padding>
    <div class="contentSections secndSection">
      <ion-col no-margin no-padding col-md-6 col-lg-3 col-xl-3 *ngFor="let l of categories"
        class="image-holder">
  
        <div class="show">
          <i class="{{ l.icon }}" color="goldenText"></i>
          <div class="subtitle">
            <h2>{{ l.numbers }}</h2>
            <h6>{{ l.name }}</h6>
          </div>
        </div>
      </ion-col>
  
    </div>
  </ion-row> -->
  

    <ion-row no-padding>
      <div class="contentSections timeSched">
        <h2 class="title curvyFont welcomeText goldenText" style="font-family: 'Cookie Curvy' !important;">Business Hours</h2>
        <h2 class="mainTexts headFont">LET US DO YOUR CATERING AND PARTIES</h2>
        <div class="alarmIcon">
          <ion-icon name="alarm" class="goldenText"></ion-icon>
        </div>
        <div class="sched subTexts">
          <h4>Monday - Saturday: 10:00am - 10:00pm</h4>
          <h4>Sunday: 10:00am - 08:00pm</h4>
        </div>
        <button ion-button class="menu-button" (click)="callNow()" style="width: 40% !important;">
          <h2 style="margin: 0 auto !important;">CONTACT US</h2>
        </button>
      </div>
      
    </ion-row>

     <div class="mapContainer">
      <div #map id="map"></div>
    </div>
<!--   
    <ion-row no-padding>
      <div class="contentSections footerSect">
        <h2 class="mainTexts headFont">SUBSCRIBE NOW</h2>
        <hr>
        <div class="subTexts">
          <p>Sign up to our newsletter to get latest food item news and our new events. This theme will help you organizing your site
          without any technical skills.</p>
        </div>
    
        <div class="inputSection">
          <input type="text" placeholder="Email Address">
          <button>SIGN UP</button>
        </div>
      
      </div>
    
    </ion-row> -->
  </div>

  <div *ngIf="!checkApp">
    <ion-row style="flex-wrap: inherit;" class="cover2">
      <h2 class="title welcomeText headFont" style="font-size: 6rem !important;">About Kusina Filipina</h2>
  
    </ion-row>
    <ion-row no-padding>
      <ion-col col-lg-5 offset-lg-1 col-xl-5 offset-xl-1>
        <div class="story">
          <h2 class="title curvyFont welcomeText goldenText" style="text-align: left !important; font-size: 6rem !important;">About Us</h2>
          <h1 class="mainTexts headFont">Taste of Home</h1>
          <div class="subTexts">
            <p class="headFont">We at Kusina Filipina aims to provide you the best experience every time you visit. We prepare the most authentic filipino food that will make you say "This tastes like home cooking" and we have friendly staff that will make you feel at home.
            </p>
          </div>
          <div class="subDesc">
            <!-- <h2>Arizenia</h2>
            <h3>JOHN ARIZENIA</h3>
            <h4 class="subTexts headFont">Founder of Restaurant</h4> -->
          </div>
  
        </div>
      </ion-col>
      <ion-col col-lg-5 col-xl-6>
        <div class="aboutImage">
          <img src="assets/imgs/banner/homepage.jpg" alt="">
        </div>
  
      </ion-col>
  
    </ion-row>
  
    <!-- <ion-row no-padding>
      <ion-col no-margin no-padding col-md-6 col-lg-3 col-xl-3 (click)="showPortfolio(l);" *ngFor="let l of categories"
        class="secndSection story image-holder2 ">
  
        <div class="show2">
          <i  class="goldenText {{l.icon}}"></i>
          <div class="subtitle">
            <h2>{{ l.numbers }}</h2>
            <h6>{{ l.name }}</h6>
          </div>
        </div>
      </ion-col>
    </ion-row> -->
   
    <div class="first-section2 space" style="margin-bottom: 70px !important;">
      <ion-row no-padding>
        <ion-col col-lg-6 col-xl-6>
          <div class="mapContainer2">
            <div #map id="map" style="height: 100% !important;
    box-shadow:0 0 20px rgba(0,0,0,0.3) !important; "></div>
          </div>
        </ion-col>
  
        <ion-col col-lg-6 col-xl-6>
          <div class="contentSections2 timeSched">
            <h2 class="title curvyFont welcomeText goldenText" style="font-size: 6rem !important;">Business Hours</h2>
            <h2 class="mainTexts headFont" style="font-size:2vw !important"><strong>Let us do your Catering and Parties</strong>
            </h2>
            <div class="alarmIcon">
              <ion-icon name="alarm" class="goldenText"></ion-icon>
            </div>
            <div class="sched subTexts">
              <h4 style="font-size: 1vw !important;">Monday - Saturday: 10:00am - 10:00pm</h4>
              <h4 style="font-size: 1vw !important;">Sunday: 10:00am - 08:00pm</h4>
            </div>
            <button ion-button class="menu-button" (click)="goToContactUs()" style="
        margin-top: 20px !important; 
        padding: 10px 50px !important;">
              <h2 class="headFont">CONTACT US</h2>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  
    <ion-grid class="fullGrid footer">
      <div class="first-section" style="padding-top: 0px !important;margin-top: 10px !important">
        <ion-row align-items-center="" class="row">
        <ion-col class="col" col-12="" col-lg-3="" class="text-menu">
          <div class="container contactUs" style="text-align: left;">
            <h2 class="headFont" style="margin-bottom: 0px;">BUSINESS HOURS</h2>
            <hr class="ftrLine" style="width: 20%;height: 30px;color: #C49433 !important; text-align: left"> 
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Monday - Saturday: </span>10AM - 10PM</p>
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Sunday: </span>10AM - 8PM</p>
            <!-- <p class="headFont" style="font-size: 1.5rem;margin-top: 80px;"><span style="font-weight: bold">Booking Time: </span>24/7 Hours</p> -->
          </div>
        </ion-col>
        <ion-col class="col" col-12="" col-lg-6="" text-center="">
          <div class="container contactUs" style="text-align: center">
            <img src="assets/imgs/logoName.png" alt="" style="height:100px;margin:0px;">
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="pin" color="charcoal" style="font-size:1.5em"></ion-icon> 4157 Eagle Rock Blvd STE 1, Los Angeles CA 90065</p>
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="call" color="charcoal" style="font-size:1.5em"></ion-icon>323 229 0228</p>
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="mail-open" color="charcoal" style="font-size:1.5em"></ion-icon><span style="color:#C49433">info@kusinafilipina.com</span></p>
          </div>
        </ion-col>
        <ion-col class="col" col-12="" col-lg-3="" text-center="">
          <div class="container contactUs" style="text-align: left;">
            <h2 class="headFont" style="margin-bottom: 0px;">SUBSCRIBE NOW</h2>
            <hr class="ftrLine" style="width: 20%;height: 30px;color: #C49433 !important; text-align: left"> 
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;line-height:30px;"> Sign up now to our newsletter to get latest food items and our new events. This theme will help you organize your site without any technical skills.</p>

            <div class="inputSection">
                    <input class="headFont" type="text" placeholder="Email Address">
                    <button class="headFont">SIGN UP</button>
                </div>
          </div>
        </ion-col>
      </ion-row>
      </div>
    </ion-grid>
  
    <ion-grid class="fullGrid">
      <div class="last-section">
        <ion-row align-items-center="" class="row">
          <ion-col class="col" col-12="" col-lg-4="">
            <div class="container" style="text-align: left">
              <p class="headFont" style="font-size: 1.5rem;margin:0px;margin-left: 15px;">© 2019 All Rights Reserved</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
    <div class="first-section footer mobSections" style="padding-top: 0px !important;margin-top: -10px !important"
      *ngIf="checkApp">
      <ion-row align-items-center="" class="row">
        <ion-col class="col" col-12="" col-lg-3="" class="text-menu">
          <div class="container contactUs" style="text-align: left">
            <h2 class="headFont;" style="margin-bottom: 0px;"><strong>BUSINESS HOURS</strong></h2>
            <hr class="hrFoot">
            <p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Monday - Saturday: </span>10AM -
              10:00PM</p>
            <p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Sunday: </span>10:00AM - 8:00PM</p>
    
          </div>
        </ion-col>
        <ion-col class="col" col-12="" col-lg-6="" text-center="">
          <div class="container contactUs" style="text-align: center">
            <img src="assets/imgs/logoName.png" alt="" style="height:100px;margin:0px;">
            <p style="font-size: 1.5rem;margin-top: 0px;">
              <ion-icon name="map" color="charcoal" style="font-size:1.5em; margin-right: 10px"></ion-icon> 4157 Eagle Rock Blvd STE 1, Los Angeles CA 90065
            </p>
            <p style="font-size: 1.5rem;margin-top: 0px;">
              <ion-icon name="call" color="charcoal" style="font-size:1.5em; margin-right: 12px"></ion-icon>323 229 0228
            </p>
            <p style="font-size: 1.5rem;margin-top: 0px;">
              <ion-icon name="mail" color="charcoal" style="font-size:1.5em; margin-right: 10px"></ion-icon><span
                style="color:#C49433">
                info@kusinafilipina.com</span>
            </p>
          </div>
    
        </ion-col>
        <ion-col class="col" col-12="" col-lg-3="" text-center="">
          <div class="container contactUs" style="text-align: left;">
            <h2 class="headFont;" style="margin-bottom: 0px;"><strong>SUBSCRIBE NOW</strong></h2>
            <hr class="hrFoot">
            <p style="font-size: 1.5rem;margin-top: 0px;"> Sign up now to our newsletter to get latest food items and our
              new events. This theme will help you organize your site without any technical skills.</p>
    
            <div class="inputSection">
              <input type="text" placeholder="Email Address">
              <button>SIGN UP</button>
            </div>
    
          </div>
    
        </ion-col>
      </ion-row>
    </div>
</ion-content>

<ion-footer transparent *ngIf="checkApp">
		<ion-toolbar class="footer-text mobile-footer" color="brownLight" >
			<h5><span class="iconFont">
					<ion-icon color="goldenBrown" name="time"></ion-icon>
				</span><span style="margin-left: 0px !important">{{ timeSched }}</span></h5>
			<h5><span class="iconFont">
					<ion-icon color="goldenBrown" name="contacts"></ion-icon>
				</span><span style="margin-left: 0px !important">Kusina Filipina 2019</span></h5>
				<h5><span class="iconFont">
						<ion-icon color="goldenBrown" name="mail"></ion-icon>
					</span><span style="margin-left: 0px !important">info@kusinafilipina.com</span></h5>
			<div class="eatIcon">
				<div class="eatIconContent">
					<ion-icon name="restaurant" color="goldenBrown"></ion-icon>
					<p class="eatSubText">An oasis of pleasure</p>
				</div>
			</div>
		</ion-toolbar>
</ion-footer>