
<ion-header>
	<ion-navbar color="white">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<img src="assets/imgs/logo.jpg" height="40px;">
		<!-- <ion-title style="color: red !important;">Kusina Filipina</ion-title> -->
		<!-- 
  <ion-buttons end>
    <button ion-button icon-only>
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
    <button ion-button icon-only>
      <ion-icon name="logo-instagram"></ion-icon>
    </button>
  </ion-buttons> -->

	</ion-navbar>
</ion-header>
<ion-content>
	<div  class="content" *ngIf="checkApp">
		<ion-title class="titl"><span style="color: rgb(245, 61, 61) !important; font-weight: bold;">K</span>usina
			<span style="color: rgb(245, 61, 61) !important; font-weight: bold;">F</span>ilipina <span
				style="color: rgb(245, 61, 61) !important; font-weight: bold;">I</span>nformation</ion-title><hr>
		<div class="first-section" style="padding-top: 0px !important">
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-6="" push-lg-6="" class="text-menu">
					<div class="container" style="text-align: center">
						<h2><ion-icon color="danger" name="navigate"></ion-icon>  Want to know our location? <br> You can find us here:</h2>
						<h6 style="font-size: 1.4rem;">4157 Eagle Rock Blvd
							Ste 1
							Los Angeles, CA 90065</h6>

						<hr style="width: 20% !important; margin: 50px auto !important">	
						
						<h2 style="padding: 0px 45px;"> <span class="iconFont">
									<ion-icon color="danger" name="call"></ion-icon>
								</span> Kusina Filipina Authentic Filipino Cuisine</h2>
							<ul style="text-align: left !important; padding: 0px 180px">
								<li style="font-size: 1.5rem">(323) 229-0228</li>
							</ul>
					</div>
				</ion-col>
				<ion-col class="col" col-12="" col-lg-6="" pull-lg-6="" text-center="">
					<div class="mapContainer">
						<div #map id="map"></div>
					</div>
				</ion-col>
			</ion-row>
		</div>
		
	</div>

	<div *ngIf="!checkApp" >
		<div style="flex-wrap: inherit; width: 100%;padding:0" class="cover2" >
			<!-- <div class="welcome"> -->
				<p class="title" style="color: #ffffff !important;font-size:4vw !important;padding-top:100px !important;"> Contact Us</p>
			<!-- </div> -->
		</div>
		
		<div class="first-section" style="padding-top: 0px !important">
			<ion-row align-items-center="" class="row">
				<!-- <ion-col class="col" col-12="" col-lg-6="" push-lg-6="" class="text-menu">
					<div class="container" style="text-align: center">
						<h2><ion-icon color="danger" name="navigate"></ion-icon>  Want to know our location? <br> You can find us here:</h2>
						<h6 style="font-size: 1.4rem;">4157 Eagle Rock Blvd
							Ste 1
							Los Angeles, CA 90065</h6>

						<hr style="width: 20% !important; margin: 50px auto !important">	
						
						<h2 style="padding: 0px 45px;"> <span class="iconFont">
									<ion-icon color="danger" name="call"></ion-icon>
								</span> Kusina Filipina Authentic Filipino Cuisine</h2>
							<ul style="text-align: left !important; padding: 0px 180px">
								<li style="font-size: 1.5rem">(323) 229-0228</li>
							</ul>
					</div>
				</ion-col> -->
				<ion-col class="col" col-12="" col-lg-12="" text-center="">
					<div class="mapContainer" style="height:500px;">
						<div #map id="map"></div>
					</div>
				</ion-col>
			</ion-row>
		</div>
	
	<div class="first-section" style="padding-top: 0px !important;padding-bottom: 0px !important">
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-6="" class="text-menu">
					<div class="container contactUs" style="text-align: left">
						<h2 class="headFont;">CONTACT INFO</h2>
						<br>
						<ion-row>
						<ion-col col-2="" style="margin:0;width:10px;margin-left:10px;">
							<ion-icon class="icon" color="goldenBrown" name="map"></ion-icon>
						</ion-col>
						<ion-col>
							<p style="font-size: 1.7rem;font-weight: bold;margin-bottom: 0px">Address</p>
							<p style="font-size: 1.5rem;margin-top: 7px">4157 Eagle Rock Blvd
							Ste 1
							Los Angeles, CA 90065</p>
						</ion-col>
					</ion-row>

					<ion-row>
						<ion-col col-2="" style="margin:0;width:10px;margin-left:10px;">
							<ion-icon class="icon" color="goldenBrown" name="call"></ion-icon>
						</ion-col>
						<ion-col>
							<p style="font-size: 1.7rem;font-weight: bold;margin-bottom: 0px">Phone Number</p>
							<p style="font-size: 1.5rem;margin-top: 7px">(323) 229-0228</p>
						</ion-col>
					</ion-row>

					<ion-row>
						<ion-col col-2="" style="margin:0;width:10px;margin-left:10px;">
							<ion-icon class="icon" color="goldenBrown" name="mail"></ion-icon>
						</ion-col>
						<ion-col>
							<p style="font-size: 1.7rem;font-weight: bold;margin-bottom: 0px">Email Address</p>
							<p style="font-size: 1.5rem;margin-top: 7px">infoname@gmail.com</p>
						</ion-col>
					</ion-row>

					</div>
				</ion-col>
				<ion-col class="col" col-12="" col-lg-6="" text-center="">
					<div class="container contactUs" style="text-align: center">
						<img src="assets/imgs/logoName.png" alt="">
					</div>
					
				</ion-col>
			</ion-row>
		</div>

		<div class="first-section" style="padding-top: 0px !important;margin-top: -10px !important">
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-6="" class="text-menu">
					<div class="container contactUs" style="text-align: left">
						<h2 class="headFont;" style="margin-bottom: 0px;">RESTAURANT</h2>
						<br>
						<p style="font-size: 1.5rem;margin-left: 15px;margin-top: 0px;">Business Hours: 8:00 - 23:30</p>
						<p style="font-size: 1.5rem;margin-left: 15px">Booking Call: +88045221210</p>

					</div>
				</ion-col>
				<ion-col class="col" col-12="" col-lg-6="" text-center="">
					<div class="container contactUs" style="text-align: left">
						<h2 class="headFont;" style="margin-bottom: 0px;">EVENT CATERING</h2>
						<br>
						<p style="font-size: 1.5rem;margin-left: 15px;margin-top: 0px;">Business Hours: 8:00 - 23:30</p>
						<p style="font-size: 1.5rem;margin-left: 15px">Booking Call: +88045221210</p>

					</div>
					
				</ion-col>
			</ion-row>
		</div>

		<div class="first-section footer" style="padding-top: 0px !important;margin-top: -10px !important">
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-3="" class="text-menu">
					<div class="container contactUs" style="text-align: left">
						<h2 class="headFont;" style="margin-bottom: 0px;"><strong>BUSINESS HOURS</strong></h2>
						<hr style="width: 20%;height: 30px;color: #C49433 !important; text-align: left"> 
						<p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Monday - Thursday: </span>06AM - 10PM</p>
						<p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Friday - Saturday: </span>10AM - 11:30PM</p>
						<p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Sunday: </span>1PM - 10PM</p>

					</div>
				</ion-col>
				<ion-col class="col" col-12="" col-lg-6="" text-center="">
					<div class="container contactUs" style="text-align: center">
						<img src="assets/imgs/logoName.png" alt="" style="height:100px;margin:0px;">
						<p style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="map" color="charcoal" style="font-size:1.5em"></ion-icon> 503 Old Buffalo Street NY, 205</p>
						<p style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="call" color="charcoal" style="font-size:1.5em"></ion-icon>(+088) 589-8745</p>
						<p style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="mail" color="charcoal" style="font-size:1.5em"></ion-icon><span style="color:#C49433">infoname@gmail.com</span></p>
					</div>
					
				</ion-col>
				<ion-col class="col" col-12="" col-lg-3="" text-center="">
					<div class="container contactUs" style="text-align: left;">
						<h2 class="headFont;" style="margin-bottom: 0px;"><strong>SUBSCRIBE NOW</strong></h2>
						<hr style="width: 20%;height: 30px;color: #C49433 !important; text-align: left"> 
						<p style="font-size: 1.5rem;margin-top: 0px;"> Sign up now to our newsletter to get latest food items and our new events. This theme will help you organize your site without any technical skills.</p>

					</div>
					
				</ion-col>
			</ion-row>
		</div>

		<div class="last-section" style="padding-top: 0px !important;">
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-4="" class="text-menu">
					<div class="container" style="text-align: left">
						<p style="font-size: 1.5rem;margin:0px;margin-left: 15px;">© 2019 All Rights Reserved</p>
						</div>
				</ion-col>
			</ion-row>
		</div>
		
	</div>
</ion-content>