<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-boder *ngIf="checkApp">
  <ion-navbar transparent main color="transp" class="bar-header">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="bar-header" ></ion-icon>
    </button>
    <img src="assets/imgs/logoName.png" height="60px;">
    <!-- <ion-title style="color: red !important;">Kusina Filipina</ion-title> -->
    
  <ion-buttons end>
  <button ion-button class="button-header" (click)="callNow()">
    <h2>Call Us Now!</h2>
  </button>
  </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="checkApp">
  
    <ion-row style="flex-wrap: inherit;overflow-x: scroll;" class="cover" >
      
      <img src="assets/imgs/banner/homepage.jpg" alt="">
      <div class="texts">
      <h2 class="title curvyFont welcomeText">Taste of Home</h2>
      <div class="mainTitles">
        <h2 color="goldenBrown ">KUSINA </h2>
        <h3>FILIPINA</h3>
      </div>
      <button ion-button class="menu-button" (click)="goTo()">
        <h2>View Menu</h2>
      </button>
      </div>
    </ion-row>
  

  <ion-row no-padding>
      <div class="contentSections" style="padding-top: 50px !important;">
        <h2 class="title curvyFont welcomeText goldenText">Our Story</h2>
        <h2 class="mainTexts headFont">Taste of Home</h2>
        <div class="subTexts">
          <p>We at Kusina Filipina aims to provide you the best experience every time you visit. We prepare the most authentic filipino food that will make you say "This tastes like home cooking" and we have friendly staff that will make you feel at home.</p>
        </div>
        <h2 class="lestMainTexts">WE ARE OPEN FOR BREAKFAST, LUNCH, & DINNER</h2>
        <div class="subTexts">
          <p>4157 Eagle Rock Blvd STE 1, Los Angeles CA 90065 | 323 229 0228</p>
        </div>
        <button ion-button class="menu-button" (click)="callNow()" style="font-size: 20px !important;">
          <h2>Discover More</h2>
        </button>
      </div>
  
  </ion-row>
  <ion-row no-padding>
    <div class="contentSections secndSection">
      <div class="mainTitle">
        <!-- <h2 class="title curvyFont welcomeText goldenText">Our Menus</h2> -->
        <h2 class="mainTexts headFont" style="color: #ffffff !important;">OUR BESTSELLERS</h2>
      </div>

      <ion-slides class="subTexts" pager>
        <ion-slide no-margin no-padding col-md-6 col-lg-3 col-xl-3 (click)="showPortfolio(l);" *ngFor="let l of categories"
          class="image-holder">
        
          <div class="show">
            <img class="category" src="{{l.image}}">
          <div class="subtitle">
            <h6>{{ l.name }}</h6>
          </div>
          </div>
        </ion-slide>
      </ion-slides>
    
    </div>
  </ion-row>
    <div class="mapContainer">
      <div #map id="map"></div>
    </div>

  <ion-row no-padding>
    <div class="contentSections">
      <h2 class="title curvyFont welcomeText goldenText">Business Hours</h2>
        <h2 class="mainTexts headFont">LET US DO YOUR CATERING AND PARTIES</h2>
      <div class="alarmIcon">
        <ion-icon name="alarm" class="goldenText"></ion-icon>
      </div>
      <div class="sched subTexts">
        <h4>Monday - Saturday: 10:00am - 10:00pm</h4>
        <h4>Sunday: 10:00am - 08:00pm</h4>
      </div>
    </div>
  
  </ion-row>
      <div class="contentSections thSection">
          
        <h2 class="title curvyFont welcomeText goldenText" style="text-align: center !important;">Testimonials</h2>
        <h2 class="mainTexts headFont">CUSTOMERS REVIEW</h2>
        <ion-slides class="" pager>
          <ion-slide class="" *ngFor="let t of testimonials" >
            <div class="subTexts">
              <p><span class="goldenText">"</span>{{t.testim}}</p>
            </div>
            
            <h2 class="mainTexts headFont">{{t.name}}</h2>
          </ion-slide>
        </ion-slides>
      </div>
    


  <div class="desc">
    <img src="assets/imgs/karekare.png" alt="">
  <h4 class="titles curvyFont">Kusina Filipina</h4>
  <p class="intro">
    <!-- <ion-icon class="iconFont" color="danger" name="information-circle"></ion-icon> -->
  Authentic Filipino Cuisine in Los Angeles. Our Chefs take pride in maintaining the traditional taste of Filipino dishes.
  All Chefs here are originally from Philippines, with over 25 years of culinary experience, maintaining the utmost
  authenticity. We do Catering and Special Events! Prices: $3.75 - $37.00</p> </div>
  
<!-- <h2 class="title mainTexts headText welcomeText headFont" style="font-weight: bold" >Kusina Filipina Has Known For Its</h2>
  <ion-slides class="slidesHolder" pager>
    <ion-slide class="slides" >
      <ion-card class="slidesCard">
        <div>
          <div>
            <p><ion-icon ios="ios-medkit" md="md-medkit"></ion-icon></p>
            <ion-label>
              Health Score:<br> <span>A</span>
              <hr>
            </ion-label>
          </div>
          <div>
            <p><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></p>
            <ion-label>
              Takes Reservations: <br><span>Yes</span>
              <hr>
            </ion-label>
          </div>
        </div>
        <div>
          <div>
            <p><ion-icon ios="ios-basket" md="md-basket"></ion-icon></p>
            <ion-label>
              Take Out:<br> <span>Yes</span>
              <hr>
            </ion-label>
          </div>
          <div>
            <p><ion-icon ios="ios-person" md="md-person"></ion-icon></p>
            <ion-label>
              Caters:<br> <span>Yes</span>
              <hr>
            </ion-label>
          </div>
        </div>
        
      </ion-card>
    </ion-slide>
    <ion-slide class="slides">
      <ion-card class="slidesCard">
        <div>
          <div>
            <p><ion-icon ios="ios-bicycle" md="md-bicycle"></ion-icon></p>
            <ion-label>
              Bike Parking: <br><span>No</span>
              <hr>
            </ion-label>
          </div>
          <div>
            <p><ion-icon ios="ios-people" md="md-people"></ion-icon></p>
            <ion-label>
              Good for Groups:<br> <span>Yes</span>
              <hr>
            </ion-label>
          </div>
        </div>
        <div>
          <div>
            <p><ion-icon ios="ios-volume-up" md="md-volume-up"></ion-icon></p>
            <ion-label>
              Noise Level:<br> <span>Average</span>
              <hr>
            </ion-label>
          </div>
          <div>
            <p><ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></p>
            <ion-label>
              Good For All Meals:<br> <span>Yes</span>
              <hr>
            </ion-label>
          </div>
        </div>
    </ion-card>
    </ion-slide>
      <ion-slide class="slides">
        <ion-card class="slidesCard">
          <div>
            <div>
              <p><ion-icon ios="ios-beer" md="md-beer"></ion-icon></p>
              <ion-label>
                Happy Hour:<br> <span>No</span>
                <hr>
              </ion-label>
            </div>
            <div>
              <p><ion-icon ios="ios-umbrella" md="md-umbrella"></ion-icon></p>
              <ion-label>
                Outdoor Seating:<br> <span>No</span>
                <hr>
              </ion-label>
            </div>
          </div>
          <div>
            <div>
              <p><ion-icon ios="ios-wifi" md="md-wifi"></ion-icon></p>
              <ion-label>
                Free Wi-Fi: <br><span>Yes</span>
                <hr>
              </ion-label>
            </div>
            <div>
              <p><ion-icon ios="ios-paw" md="md-paw"></ion-icon></p>
              <ion-label>
                Dogs Allowed:<br> <span>No</span>
                <hr>
              </ion-label>
            </div>
          </div>
        </ion-card>
      </ion-slide>
        <ion-slide class="slides">
          <ion-card class="slidesCard">
            <div>
              <div>
                <p><ion-icon ios="ios-body" md="md-body"></ion-icon></p>
                <ion-label>
                  GNR: <br><span>Yes</span>
                  <hr>
                </ion-label>
              </div>
              <div>
                <p><ion-icon ios="ios-nutrition" md="md-nutrition"></ion-icon></p>
                <ion-label>
                  Vegan Options: <br><span>Yes</span>
                  <hr>
                </ion-label>
              </div>
            </div>
          <div>
            <div>
              <p><ion-icon ios="ios-send" md="md-send"></ion-icon></p>
              <ion-label>
                Delivery:<br> <span>Yes</span>
                <hr>
              </ion-label>
            </div>
            <div>
              <p><ion-icon ios="ios-card" md="md-card"></ion-icon></p>
              <ion-label>
                Credit Cards: <br><span>Yes</span>
                <hr>
              </ion-label>
            </div>
          </div>
          </ion-card>
        </ion-slide>
        <ion-slide class="slides">
          <ion-card class="slidesCard">
            <div>
              <div>
                <p><ion-icon ios="ios-car" md="md-car"></ion-icon></p>
                <ion-label>
                  Private Parking: <br><span>Yes</span>
                  <hr>
                </ion-label>
              </div>
              <div>
                <p><ion-icon ios="ios-happy" md="md-happy"></ion-icon></p>
                <ion-label>
                  Good for Kids: <br><span>Yes</span>
                  <hr>
                </ion-label>
              </div>
            </div>
            <div>
              <div>
                <p><ion-icon ios="ios-bulb" md="md-bulb"></ion-icon></p>
                <ion-label>
                  Ambience: <br><span>Casual</span>
                  <hr>
                </ion-label>
              </div>
              <div>
                <p><ion-icon ios="ios-pint" md="md-pint"></ion-icon></p>
                <ion-label>
                  Alcohol: <br><span>No</span>
                  <hr>
                </ion-label>
              </div>
            </div>
          </ion-card>
        </ion-slide>
        <ion-slide class="slides lastSlide">
          <ion-card class="slidesCard">
            <div>
              <div>
                <p><ion-icon ios="ios-desktop" md="md-desktop"></ion-icon></p>
                <ion-label>
                  TV: <br><span>Yes</span>
                  <hr>
                </ion-label>
              </div>
            </div>
          </ion-card>
        </ion-slide>
  </ion-slides> -->
<!-- 
<hr>

  <ion-item style="padding: 0px !important" class="no-line" >
    <ion-title class="titles" style="color: #d32323 !important;  ">Store Hours:</ion-title>
  </ion-item>

  <ion-list class="lister">
    <div>
      <ion-item>
        <ion-label>Monday: <span>Closed</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tuesday: <span>10:00am - 10:00pm</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Wednesday: <span>10:00am - 10:00pm</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Thursday: <span>10:00am - 10:00pm</span></ion-label>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <ion-label>Friday: <span>10:00am - 10:00pm</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saturday: <span>10:00am - 10:00pm</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Sunday: <span>10:00am - 04:00pm</span></ion-label>
      </ion-item>
    </div>
    
  </ion-list>-->
    <!-- <ion-row no-padding>
      <div class="contentSections footerSect" style="text-align: left !important;">
        <h2 class="mainTexts headFont" >SUBSCRIBE NOW</h2>
        <hr>
        <div class="subTexts" style="text-align: left !important; padding: 0px !important;">
          <p>Sign up to our newsletter to get latest food item news and our new events. This theme will help you
            organizing your site
            without any technical skills.</p>
        </div>
    
        <div class="inputSection">
          <input type="text" placeholder="Email Address">
          <button>SIGN UP</button>
        </div>
    
      </div>
    
    </ion-row> -->
    <div class="first-section footer mobSections" style="padding-top: 0px !important;margin-top: -10px !important" *ngIf="checkApp">
  <ion-row align-items-center="" class="row">
    <ion-col class="col" col-12="" col-lg-3="" >
      <div class="container contactUs" style="text-align: left">
        <h2 class="headFont;" style="margin-bottom: 0px;"><strong>BUSINESS HOURS</strong></h2><hr class="hrFoot">
        <p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Monday - Saturday: </span>10AM - 10PM</p>
        <p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Sunday: </span>10AM - 8PM</p>
        <!-- <p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Booking Time: </span>24/7 Hours</p> -->

      </div>
    </ion-col>
    <ion-col class="col" col-12="" col-lg-6="" text-center="">
      <div class="container contactUs" style="text-align: center">
        <img src="assets/imgs/logoName.png" alt="" style="height:100px;margin:0px;">
        <p style="font-size: 1.5rem;margin-top: 0px;">
          <ion-icon name="map" color="charcoal" style="font-size:1.5em"></ion-icon> 4157 Eagle Rock Blvd STE 1, Los Angeles CA 90065</p>
        <p style="font-size: 1.5rem;margin-top: 0px;">
          <ion-icon name="call" color="charcoal" style="font-size:1.5em"></ion-icon>
323 229 0228</p>
        <p style="font-size: 1.5rem;margin-top: 0px;">
          <ion-icon name="mail" color="charcoal" style="font-size:1.5em"></ion-icon><span style="color:#C49433">
           
info@kusinafilipina.com</span></p>
      </div>

    </ion-col>
    <ion-col class="col" col-12="" col-lg-3="" text-center="">
      <div class="container contactUs" style="text-align: left;">
        <h2 class="headFont;" style="margin-bottom: 0px;"><strong>SUBSCRIBE NOW</strong></h2><hr class="hrFoot">
        <p style="font-size: 1.5rem;margin-top: 0px;"> Sign up now to our newsletter to get latest food items and our
          new events. This theme will help you organize your site without any technical skills.</p>

        <div class="inputSection">
          <input type="text" placeholder="Email Address">
          <button>SIGN UP</button>
        </div>

      </div>

    </ion-col>
  </ion-row>
</div>
  </div> 
<!--END OF MOBILE-->
  <div *ngIf="!checkApp">
    <ion-grid class="fullGrid" style="margin-top: 110px;">
      <div class="cover2">
      <ion-row style="flex-wrap: inherit;"  >
        <ion-col col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-md-4 offset-md-4 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4>
          <ion-row style="margin-bottom:1vw;">
            <div class="welcome2">
              <h2 class="title titleText welcomeText"> <span style="color: #ffffff !important;font-size:5vw">Taste of Home</span></h2>
            </div>
          </ion-row>
          <ion-row >
            <div class="center rectangle">
              <h2 class="title headFont" style="font-size:7vw;margin-bottom: 0px !important;margin-top:20px;font-weight:bold"> <span  style="color: #C49433 !important;">KUSINA</span></h2>
              <h2 class="title headFont" style="margin-top: 0px !important;margin-bottom: 20px !important;font-weight:bold"> <span  style="color: #ffffff !important;font-size:4vw;padding-top: 0px;">FILIPINA</span></h2>  
            </div>
          </ion-row>
          <ion-row >
            
              <button ion-button class="menu-button2" (click)="goTo()">
                <h2 class="headFont">View Menu</h2>
              </button>
          
          </ion-row>              
        </ion-col>
      </ion-row>
    </div>
    </ion-grid>

    <ion-grid>
      <ion-row class="first-section story">
        <ion-col col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 class="text-menu">
          <div class="container" style="text-align: center">
            <h1 class="titleText" style="font-size:70px"> <span style="color: #C49433 !important;">Our Story</span></h1>
            <p class="headFont" style="font-size: 4rem;margin-bottom: 0px;margin-top: 10px;font-weight: bold">Taste of Home</p>
            <p class="headFont" style="font-size: 1.7rem !important;" >We at Kusina Filipina aims to provide you the best experience every time you visit. We prepare the most authentic filipino food that will make you say "This tastes like home cooking" and we have friendly staff that will make you feel at home.</p>

            <h2 class="lestMainTexts headFont" style="font-weight: bold;margin-top: 40px;">WE ARE OPEN FOR BREAKFAST, LUNCH, & DINNER</h2>
            <div class="subTexts">
              <p class="headFont">4157 Eagle Rock Blvd STE 1, Los Angeles CA 90065</p>
            </div>
            <button ion-button class="menu-button2" (click)="goToAboutUs()">
              <h2 class="headFont">Discover More</h2>
            </button>
          </div>
        </ion-col>
      </ion-row> 
    </ion-grid>
      
    
    <ion-grid class="fullGrid">
      <div class="black">
        <ion-row class="first-section menuSection">
          <ion-col col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 class="text-menu">
            <div style="text-align: center">
              <!-- <h1 class="titleText" style="font-size:46px;margin-top: 50px"> <span style="color: #C49433 !important; font-weight: bold;">Our Bestsellers</span></h1> -->
              <h1 class="titleText Kusina menuDay" style="font-size:3vw;margin-top: 50px;color:#ffffff;font-weight: bold;">Our Bestsellers</h1>
            </div>
            
          </ion-col>
          <ion-slides no-margin no-padding 
              class="image-holder2" pager>
              <ion-slide no-margin no-padding class="show2" *ngFor="let b of bestsellersList">
                <ion-col no-margin no-padding col-md-6 col-lg-4 col-xl-4 *ngFor="let a of b.bestsellers"
                >
                <img class="category2" src="{{a.image}}">
                <!-- <div class="subtitle">
                  <h6>{{ b.name }}</h6>
                </div> -->
              </ion-col>
              </ion-slide>  
          </ion-slides>
        </ion-row> 
      </div>
    </ion-grid>

    <ion-grid class="fullGrid" style="margin-bottom: 100px;">
      <div>
        <ion-row class="first-section2 second">
          <ion-col class="col" col-12="" col-lg-6="" push-lg-3="" class="text-menu">
            <div class="container" style="text-align: center">
              <h1 class="titleText" style="font-size:70px"> <span style="color: #C49433 !important;">Business Hours</span></h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row align-items-center="" class="row">
          <ion-col class="col" col-lg-6="" class="text-menu">
            <div class="mapContainer2">
              <div #map id="map"></div>
            </div>
          </ion-col>
          
          <ion-col class="col" col-lg-6="" class="text-menu">
            <div class="contentSections2">
              <p class="mainTexts headFont" style="font-weight: bold;font-size: 2vw;margin-top: 0px;">Let us do your Catering and Parties</p>
              <div class="alarmIcon">
                <ion-icon name="alarm" class="goldenText" style="font-weight: bold;font-size: 8vw;"></ion-icon>
              </div>
              <div class="sched subTexts">
                <h4 class="headFont" style="font-size: 2vw;">Monday - Saturday: 10:00am - 10:00pm</h4>
                <h4 class="headFont" style="font-size: 2vw;">Sunday: 10:00am - 08:00pm</h4>
              </div>
                <button ion-button class="contact-button" (click)="goToContactUs()">
                      <h2 class="headFont">CONTACT US</h2>
                    </button>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
       <div class="story thSection">
      <h2 class="title curvyFont welcomeText goldenText" style="text-align: center !important;" style="font-size: 6rem !important;">Testimonials</h2>
      <h1 class="mainTexts headFont">CUSTOMERS REVIEW</h1>
      <ion-slides style="padding-bottom: 30px;" pager>
        <ion-slide *ngFor="let t of testimonials" class="slideHolder2">
         
          <div class="subTexts2">
            <p class="headFont" style="width:80%;margin: auto"><i><span class="goldenText">"</span>{{t.testim}}<span
                  class="goldenText">"</span></i></p>
            <h2 class="mainTexts headFont" style="margin-top: 10px !important">{{t.name}}</h2>
  
          </div>
  
  
        </ion-slide>
      </ion-slides>
    </div>
    <!-- <ion-grid>
    <div class="first-section third">
      <ion-row align-items-center="" class="row">
        <ion-col class="col" col-12="" col-lg-6="" push-lg-3="" class="text-menu">
          <div class="container" style="text-align: center">
            <h1 class="titleText Kusina" style="font-size:70px"> <span style="color: #C49433 !important;">Good To Know</span></h1>
          </div>
        </ion-col>
  
      </ion-row> 
  
      <ion-row align-items-center="" class="row">
        <ion-col class="col" col-12="" col-lg-10="" push-lg-1="">
          <div class="container slidesContainer" style="text-align: center;border: 1px solid #ffffff">  
            
              <button class="rightButton" (click)="clickNext();"><ion-icon name="arrow-dropright"></ion-icon></button>
              <button class="leftButton" (click)="clickPrev()"><ion-icon name="arrow-dropleft"></ion-icon></button>
  <ion-slides class="slidesHolder2" pager #theSlides>
    <ion-slide class="slides2" >
      <ion-card class="slidesCard2">
        <div>
          <div>
            <p><ion-icon ios="ios-medkit" md="md-medkit"></ion-icon></p>
            <ion-label>
              Health Score: <span>A</span>
            </ion-label>
          </div>
          <div style="margin-top: 50px" >
            <p><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></p>
            <ion-label>
              Reservations: <span>Yes</span>
            </ion-label>
          </div>
        </div>
        <div>
          <div>
            <p><ion-icon ios="ios-basket" md="md-basket"></ion-icon></p>
            <ion-label>
              Take Out: <span>Yes</span>
            </ion-label>
          </div>
          <div style="margin-top: 50px" >
            <p><ion-icon ios="ios-person" md="md-person"></ion-icon></p>
            <ion-label>
              Caters: <span>Yes</span>
            </ion-label>
          </div>
        </div>
        <div>
          <div>
            <p><ion-icon ios="ios-bicycle" md="md-bicycle"></ion-icon></p>
            <ion-label>
              Bike Parking: <span>No</span>
            </ion-label>
          </div>
          <div style="margin-top: 50px" >
            <p><ion-icon ios="ios-people" md="md-people"></ion-icon></p>
            <ion-label>
              Good for Groups: <span>Yes</span>
            </ion-label>
          </div>
        </div>
        <div>
          <div>
            <p><ion-icon ios="ios-volume-up" md="md-volume-up"></ion-icon></p>
            <ion-label>
              Noise Level: <span>Average</span>
            </ion-label>
          </div>
          <div style="margin-top: 50px" >
            <p><ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></p>
            <ion-label>
              Good For All Meals: <span>Yes</span>
            </ion-label>
          </div>
        </div>
        
      </ion-card>
    </ion-slide>
    <ion-slide class="slides2">
      <ion-card class="slidesCard2">
        
        <div>
          <div>
            <p><ion-icon ios="ios-beer" md="md-beer"></ion-icon></p>
              <ion-label>
                Happy Hour: <span>No</span>
              </ion-label>
          </div>
          <div style="margin-top: 50px">
            <p><ion-icon ios="ios-umbrella" md="md-umbrella"></ion-icon></p>
              <ion-label>
                Outdoor Seating: <span>No</span>
              </ion-label>
            </div>
        </div>
        <div>
          <div>
            <p><ion-icon ios="ios-wifi" md="md-wifi"></ion-icon></p>
              <ion-label>
                Free Wi-Fi: <span>Yes</span>
              </ion-label>
          </div>
          <div style="margin-top: 50px">
            <p><ion-icon ios="ios-paw" md="md-paw"></ion-icon></p>
              <ion-label>
                Dogs Allowed: <span>No</span>
              </ion-label>
          </div>
        </div>
        <div>
          <div>
            <p><ion-icon ios="ios-body" md="md-body"></ion-icon></p>
            <ion-label>
                GNR: <span>Yes</span>
            </ion-label>
          </div>
          <div style="margin-top: 50px">
            <p><ion-icon ios="ios-nutrition" md="md-nutrition"></ion-icon></p>
            <ion-label>
                Vegan Options: <span>Yes</span>
            </ion-label>
          </div>
        </div>
        <div>
          <div>
            <p><ion-icon ios="ios-send" md="md-send"></ion-icon></p>
              <ion-label>
                Delivery: <span>Yes</span>
              </ion-label>
          </div>
          <div style="margin-top: 50px" >
            <p><ion-icon  ios="ios-card" md="md-card"></ion-icon></p>
              <ion-label>
                Credit Cards: <span>Yes</span>
              </ion-label>
          </div>
        </div>
    </ion-card>
    </ion-slide>
      <ion-slide class="slides2">
        <ion-card class="slidesCard2">
        <div>
          <div>
            <p><ion-icon ios="ios-car" md="md-car"></ion-icon></p>
              <ion-label>
                Private Parking: <span>Yes</span>
              </ion-label>
          </div>
          <div style="margin-top: 50px">
            <p><ion-icon  ios="ios-happy" md="md-happy"></ion-icon></p>
              <ion-label>
                Good for Kids: <span>Yes</span>
              </ion-label>
          </div>
        </div>
        <div>
              <div>
                <p><ion-icon ios="ios-bulb" md="md-bulb"></ion-icon></p>
                <ion-label>
                  Ambience: <span>Casual</span>
                </ion-label>
              </div>
            </div>
            <div>
              <div>
                <p><ion-icon  ios="ios-pint" md="md-pint"></ion-icon></p>
                <ion-label>
                  Alcohol: <span>No</span>
                </ion-label>
              </div>
            </div>
            <div>
              <div>
                <p><ion-icon ios="ios-desktop" md="md-desktop"></ion-icon></p>
                <ion-label>
                  TV: <span>Yes</span>
                </ion-label>
              </div>
            </div>
    </ion-card>
      </ion-slide>
      <button id="next" (click)="next(theSlides)"></button>
      <button id="prev" (click)="prev(theSlides)"></button>
  </ion-slides>
          </div>
        </ion-col>
  
      </ion-row> 
    </div>
  </ion-grid> -->
  
  <ion-grid class="fullGrid footer">
    <div class="first-section" style="padding-top: 0px !important;margin-top: 10px !important">
      <ion-row align-items-center="" class="row">
        <ion-col class="col" col-12="" col-lg-3="" class="text-menu">
          <div class="container contactUs" style="text-align: left;">
            <h2 class="headFont" style="margin-bottom: 0px;">BUSINESS HOURS</h2>
            <hr class="ftrLine" style="width: 20%;height: 30px;color: #C49433 !important; text-align: left"> 
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Monday - Saturday: </span>10AM - 10PM</p>
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Sunday: </span>10AM - 8PM</p>
            <!-- <p class="headFont" style="font-size: 1.5rem;margin-top: 80px;"><span style="font-weight: bold">Booking Time: </span>24/7 Hours</p> -->
          </div>
        </ion-col>
        <ion-col class="col" col-12="" col-lg-6="" text-center="">
          <div class="container contactUs" style="text-align: center">
            <img src="assets/imgs/logoName.png" alt="" style="height:100px;margin:0px;">
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="pin" color="charcoal" style="font-size:1.5em"></ion-icon> 4157 Eagle Rock Blvd STE 1, Los Angeles CA 90065</p>
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="call" color="charcoal" style="font-size:1.5em"></ion-icon>323 229 0228</p>
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="mail-open" color="charcoal" style="font-size:1.5em"></ion-icon><span style="color:#C49433">info@kusinafilipina.com</span></p>
          </div>
        </ion-col>
        <ion-col class="col" col-12="" col-lg-3="" text-center="">
          <div class="container contactUs" style="text-align: left;">
            <h2 class="headFont" style="margin-bottom: 0px;">SUBSCRIBE NOW</h2>
            <hr class="ftrLine" style="width: 20%;height: 30px;color: #C49433 !important; text-align: left"> 
            <p class="headFont" style="font-size: 1.5rem;margin-top: 0px;line-height:30px;"> Sign up now to our newsletter to get latest food items and our new events. This theme will help you organize your site without any technical skills.</p>

            <div class="inputSection">
                    <input class="headFont" type="text" placeholder="Email Address">
                    <button class="headFont">SIGN UP</button>
                </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid class="fullGrid">
    <div class="last-section" >
      <ion-row align-items-center="" class="row">
        <ion-col class="col" col-12="" col-lg-4="">
          <div class="container" style="text-align: left">
            <p class="headFont" style="font-size: 1.5rem;margin:0px;margin-left: 15px;">© 2019 All Rights Reserved</p>
            </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  
  
  </div>
</ion-content>

<ion-footer transparent *ngIf="checkApp">
    <ion-toolbar class="footer-text mobile-footer" color="brownLight" >
      <h5><span class="iconFont">
          <ion-icon color="goldenBrown" name="time"></ion-icon>
        </span><span style="margin-left: -8px !important">{{ timeSched }}</span></h5>
      <h5><span class="iconFont">
          <ion-icon color="goldenBrown" name="contacts"></ion-icon>
        </span><span style="margin-left: -8px !important">Kusina Filipina 2019</span></h5>
        <h5><span class="iconFont">
            <ion-icon color="goldenBrown" name="mail"></ion-icon>
          </span><span style="margin-left: -8px !important">info@kusinafilipina.com</span></h5>
      <div class="eatIcon">
        <div class="eatIconContent">
          <ion-icon name="restaurant" color="goldenBrown"></ion-icon>
          <p class="eatSubText">An oasis of pleasure</p>
        </div>
      </div>
    </ion-toolbar>
</ion-footer>