<ion-header no-boder>
	<ion-navbar transparent color="transp" class="bar-header">
		<button ion-button menuToggle>
			<ion-icon name="menu" class="bar-header"></ion-icon>
		</button>
		<img src="assets/imgs/logoName.png" height="60px;">
		<!-- <ion-title style="color: red !important;">Kusina Filipina</ion-title> -->

		<ion-buttons end>
			<button ion-button class="button-header" (click)="callNow()">
				<h2>Call Us Now!</h2>
			</button>
		</ion-buttons>

	</ion-navbar>
</ion-header>



<ion-content>
	<ion-row style="flex-wrap: inherit;overflow-x: scroll;" class="cover">
		<h2 class="title  welcomeText">Contact Us</h2>

	</ion-row>

	

	<div class="mapContainer">
		<div #map id="map"></div>
	</div>
	<ion-row no-padding>
		<div class="contentSections timeSched">
			<h2 class="mainTexts headFont" style="text-align: left; padding-left: 40px;">CONTACT INFO</h2>
			<div class="contacts">
				<div class="contactContent">
					<ion-icon name="ios-pin-outline" color="goldenBrown">

					</ion-icon>
					<div class="texts" >
						<h2 style="margin-bottom: 5px !important;">Address</h2>
						<h3 style="line-height: 1.2 !important;">4157 Eagle Rock Blvd
						Ste 1
						Los Angeles, CA 90065 Glassell Park</h3>
					</div>
				</div>
				<div class="contactContent">
					<ion-icon style="margin-left: 5px !important;" name="ios-phone-portrait-outline" color="goldenBrown">
				
					</ion-icon>
					<div class="texts">
						<h2>Phone Number</h2>
						<h3>(323) 229-0228</h3>
					</div>
				</div>
				<div class="contactContent">
					<ion-icon style="margin-left: -5px !important;"  name="ios-mail-outline" color="goldenBrown">
				
					</ion-icon>
					<div class="texts">
						<h2>Email Address</h2>
						<h3>infoname@gmail.com</h3>
					</div>
				</div>
			</div>
		</div>
	
	</ion-row>
	<img src="assets/imgs/logoName.png" height="300px;" class="imageConte">

	<ion-row no-padding>
		<div class="contentSections lastSect">
			<h2 class="mainTexts headFont lastSectHead">RESTAURANT</h2>
			<!-- <hr> -->
			<div class="subTexts">
				<p><span>Opening Hours:</span> 10:00am</p>
				<p><span>Closing Hours:</span> Monday - Saturday (10:00pm), Sunday (08:00pm)</p>
				<p><span>Booking Call:</span> (323) 229-0228</p>
			</div>
		</div>
	</ion-row>
	<ion-row no-padding>
		<div class="contentSections lastSect" >
			<h2 class="mainTexts headFont lastSectHead">EVENT CATERING</h2>
			<!-- <hr> -->
			<div class="subTexts">
				<p><span>Monday - Saturday:</span> 10:00am - 10:00pm</p>
				<!-- <p><span>Friday - :</span> 10:00am - 10:00pm</p> -->
				<p><span>Sunday:</span> 10:00am - 08:00pm.</p>
				<p><span>Booking Time:</span> 24/7 Hours</p>
			</div>
		</div>
	</ion-row>

	<div class="first-section footer" style="padding-top: 0px !important;margin-top: -10px !important" *ngIf="!checkApp">
		<ion-row align-items-center="" class="row">
			<ion-col class="col" col-12="" col-lg-3="" class="text-menu">
				<div class="container contactUs" style="text-align: left">
					<h2 class="headFont;" style="margin-bottom: 0px;"><strong>BUSINESS HOURS</strong></h2>
					<hr style="width: 20%;height: 30px;color: #C49433 !important; text-align: left">
					<p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Monday - Thursday:
						</span>06AM - 10PM</p>
					<p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Friday - Saturday:
						</span>10AM - 11:30PM</p>
					<p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Sunday: </span>1PM - 10PM
					</p>
	
				</div>
			</ion-col>
			<ion-col class="col" col-12="" col-lg-6="" text-center="">
				<div class="container contactUs" style="text-align: center">
					<img src="assets/imgs/logoName.png" alt="" style="height:100px;margin:0px;">
					<p style="font-size: 1.5rem;margin-top: 0px;">
						<ion-icon name="map" color="charcoal" style="font-size:1.5em"></ion-icon> 503 Old Buffalo Street NY,
						205
					</p>
					<p style="font-size: 1.5rem;margin-top: 0px;">
						<ion-icon name="call" color="charcoal" style="font-size:1.5em"></ion-icon>(+088) 589-8745
					</p>
					<p style="font-size: 1.5rem;margin-top: 0px;">
						<ion-icon name="mail" color="charcoal" style="font-size:1.5em"></ion-icon><span
							style="color:#C49433"> infoname@gmail.com</span>
					</p>
				</div>
	
			</ion-col>
			<ion-col class="col" col-12="" col-lg-3="" text-center="">
				<div class="container contactUs" style="text-align: left;">
					<h2 class="headFont;" style="margin-bottom: 0px;"><strong>SUBSCRIBE NOW</strong></h2>
					<hr style="width: 20%;height: 30px;color: #C49433 !important; text-align: left">
					<p style="font-size: 1.5rem;margin-top: 0px;"> Sign up now to our newsletter to get latest food items
						and our new events. This theme will help you organize your site without any technical skills.</p>
	
					<div class="inputSection">
						<input type="text" placeholder="Email Address">
						<button>SIGN UP</button>
					</div>
	
				</div>
	
			</ion-col>
		</ion-row>
	</div>
	<div class="first-section footer mobSections" style="padding-top: 0px !important;margin-top: -10px !important"
		*ngIf="checkApp">
		<ion-row align-items-center="" class="row">
			<ion-col class="col" col-12="" col-lg-3="" class="text-menu">
				<div class="container contactUs" style="text-align: left">
					<h2 class="headFont;" style="margin-bottom: 0px;"><strong>BUSINESS HOURS</strong></h2>
					<hr style="width: 20%;height: 30px;color: #C49433 !important; text-align: left">
					<p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Monday - Thursday:
						</span>06AM -
						10PM</p>
					<p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Friday - Saturday:
						</span>10AM -
						11:30PM</p>
					<p style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Sunday: </span>1PM - 10PM
					</p>
	
				</div>
			</ion-col>
			<ion-col class="col" col-12="" col-lg-6="" text-center="">
				<div class="container contactUs" style="text-align: center">
					<img src="assets/imgs/logoName.png" alt="" style="height:100px;margin:0px;">
					<p style="font-size: 1.5rem;margin-top: 0px;">
						<ion-icon name="map" color="charcoal" style="font-size:1.5em"></ion-icon> 503 Old Buffalo Street NY,
						205
					</p>
					<p style="font-size: 1.5rem;margin-top: 0px;">
						<ion-icon name="call" color="charcoal" style="font-size:1.5em"></ion-icon>(+088) 589-8745
					</p>
					<p style="font-size: 1.5rem;margin-top: 0px;">
						<ion-icon name="mail" color="charcoal" style="font-size:1.5em"></ion-icon><span
							style="color:#C49433">
							infoname@gmail.com</span>
					</p>
				</div>
	
			</ion-col>
			<ion-col class="col" col-12="" col-lg-3="" text-center="">
				<div class="container contactUs" style="text-align: left;">
					<h2 class="headFont;" style="margin-bottom: 0px;"><strong>SUBSCRIBE NOW</strong></h2>
					<hr style="">
					<p style="font-size: 1.5rem;margin-top: 0px;"> Sign up now to our newsletter to get latest food items
						and our
						new events. This theme will help you organize your site without any technical skills.</p>
	
					<div class="inputSection">
						<input type="text" placeholder="Email Address">
						<button>SIGN UP</button>
					</div>
	
				</div>
	
			</ion-col>
		</ion-row>
	</div>
	<!-- <ion-row no-padding>
		<div class="contentSections footerSect contentPadding" style="padding: 100px 10px !important;">
			<h2 class="mainTexts headFont">SUBSCRIBE NOW</h2>
			<hr>
			<div class="subTexts">
				<p>Sign up to our newsletter to get latest food item news and our new events. This theme will help you
					organizing your site
					without any technical skills.</p>
			</div>

			<div class="inputSection">
				<input type="text" placeholder="Email Address">
				<button>SIGN UP</button>
			</div>

		</div>

	</ion-row> -->
	<!-- <div class="maps">
    
  <div class="mapContainer">
    <div #map id="map"></div>
  </div>
  <div class="parg">
    <h4 class="titles" style="color: #ffffff !important"> <ion-icon color="danger" name="navigate"></ion-icon> Want to know our location? <br> You can find us here:</h4>
  
  <h6 style="font-size: 1.4rem; color: #ffffff">4157 Eagle Rock Blvd
  Ste 1
  Los Angeles, CA 90065</h6>
  </div>
  </div>
  <div class="storeHours"> 
      <h4 class="titles exdtra">Store Hours</h4>
      <hr>
      <div class="hoursContent">
        <div class="hours" *ngFor="let hour of storeTime">
        
          <div class="schedContent">
            <h5 class="day">{{ hour.day }}</h5>
            <h5 class="sched">{{ hour.time }}</h5>
          </div>
        </div>
      </div>
  </div> -->
</ion-content>

<ion-footer transparent *ngIf="checkApp">
	<ion-toolbar class="footer-text mobile-footer" color="brownLight">
		<h5><span class="iconFont">
				<ion-icon color="goldenBrown" name="time"></ion-icon>
				</span><span style="margin-left: 0px !important">{{ timeSched }}</span></h5>
		<h5><span class="iconFont">
				<ion-icon color="goldenBrown" name="contacts"></ion-icon>
			</span><span style="margin-left: 0px !important">Kusina Filipina 2019</span></h5>
		<h5><span class="iconFont">
				<ion-icon color="goldenBrown" name="mail"></ion-icon>
			</span><span style="margin-left: 0px !important">info@gmail.com</span></h5>
		<div class="eatIcon">
			<div class="eatIconContent">
				<ion-icon name="restaurant" color="goldenBrown"></ion-icon>
				<p class="eatSubText">An oasis of pleasure</p>
			</div>
		</div>
	</ion-toolbar>
</ion-footer>