@font-face {
   font-family: 'October Twilight';
   src: url('../assets/fonts/october.ttf');
   font-weight: 100;
   font-style: normal;
 }

 @font-face {
   font-family: 'Cookie Curvy';
   src: url('../assets/fonts/cookie.ttf');
   font-weight: 100;
   font-style: normal;
 }

 @font-face {
   font-family: 'Ge Body';
   src: url('../assets/fonts/GeBody.ttf');
   font-weight: 100;
   font-style: normal;
 }