<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-boder *ngIf="checkApp">
	<ion-navbar transparent  color="transp" class="bar-header">
		<button ion-button menuToggle>
			<ion-icon name="menu" class="bar-header" ></ion-icon>
		</button>
		<img src="assets/imgs/logoName.png" height="60px;">
		<!-- <ion-title style="color: red !important;">Kusina Filipina</ion-title> -->
		
  <ion-buttons end>
	<button ion-button class="button-header" (click)="callNow()">
		<h2>Call Us Now!</h2>
	</button>
  </ion-buttons>

	</ion-navbar>
</ion-header>


<ion-content>
	<div *ngIf="checkApp">
	<!-- <ion-row >
		<ion-col text-left padding>
			Stories
		</ion-col>
		<ion-col text-right padding>
			Watch All
		</ion-col>
	</ion-row> -->
		<ion-row style="flex-wrap: inherit;overflow-x: scroll;" class="cover" >
			<!-- <ion-slides autoplay="5000" loop="true" speed="500" class="slides" pager="true" class="image-holder">
				<ion-slide *ngFor="let image of images"  class="images" >
					<img src="assets/imgs/{{image.image}}" alt="">
				</ion-slide>
			</ion-slides> -->
			<img src="assets/imgs/cover.jpg" alt="">
			<div class="texts">
			<h2 class="title curvyFont welcomeText">Welcome To</h2>
			<div class="mainTitles">
				<h2 color="goldenBrown ">KUSINA </h2>
				<h3>FILIPINA</h3>
			</div>
			<button ion-button class="menu-button" (click)="goTo()">
				<h2>View Menu</h2>
			</button>
			</div>
		</ion-row>
	
	<!-- <hr> -->
	<!-- <div text-center>
	
	</div> -->
	<!-- <h4  class="titles">Categories:</h4> -->
	<ion-row no-padding>
			<div class="contentSections">
				<h2 class="title curvyFont welcomeText goldenText">Our Story</h2>
				<h2 class="mainTexts headFont">OVER 20 YEARS OF EXPERIENCE</h2>
				<div class="subTexts">
					<p>Ristora is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With
					glazed frontage on two sides of the building, overlooking the market and a bustling London intersection optio cumque
					nihil impedit quo minus id quod maxime.</p>
				</div>
				<h2 class="lestMainTexts">WE ARE OPEN FOR BREAKFAST, LUNCH, & DINNER</h2>
				<div class="subTexts">
					<p>1062 Bulk Street, Florida, CL 13805 | (608) 853-8569</p>
				</div>
				<button ion-button class="menu-button" (click)="callNow()">
					<h2>Discover More</h2>
				</button>
			</div>
		<!-- <ion-col no-margin no-padding col-md-6 col-lg-3 col-xl-3 (click)="showPortfolio(l);" *ngFor="let l of categories" class="image-holder">
	
			<div class="show">
				<img class="category" src="assets/imgs/{{l.image}}">
			</div>
	
			<div class="subtitle">
				<h6>{{l.name}}</h6>
			</div>
		</ion-col> -->
	
	</ion-row>
	<ion-row no-padding>
		<div class="contentSections secndSection">
			<div class="mainTitle">
				<h2 class="title curvyFont welcomeText goldenText">Our Menus</h2>
				<h2 class="mainTexts headFont" style="color: #ffffff !important;">MENU OF THE DAY</h2>
			</div>

			<div class="subTexts">
				<ion-col no-margin no-padding col-md-6 col-lg-3 col-xl-3 (click)="showPortfolio(l);" *ngFor="let l of categories"
					class="image-holder">
				
					<div class="show">
						<img class="category" src="assets/imgs/{{l.image}}">
					<div class="subtitle">
						<h6>{{ l.name }}</h6>
					</div>
					</div>
				</ion-col>
			</div>
		
		</div>
	</ion-row>
		<div class="mapContainer">
			<div #map id="map"></div>
		</div>

	<ion-row no-padding>
		<div class="contentSections">
			<h2 class="title curvyFont welcomeText goldenText">Business Hours</h2>
			<h2 class="mainTexts headFont">OPEN FOR SPECIAL OCASIONS</h2>
			<div class="alarmIcon">
				<ion-icon name="alarm" class="goldenText"></ion-icon>
			</div>
			<div class="sched subTexts">
				<h4>Monday - Saturday: 10:00am - 10:00pm</h4>
				<h4>Sunday: 10:00am - 04:00pm</h4>
			</div>
		</div>
		<!-- <ion-col no-margin no-padding col-md-6 col-lg-3 col-xl-3 (click)="showPortfolio(l);" *ngFor="let l of categories" class="image-holder">
		
				<div class="show">
					<img class="category" src="assets/imgs/{{l.image}}">
				</div>
		
				<div class="subtitle">
					<h6>{{l.name}}</h6>
				</div>
			</ion-col> -->
	
	</ion-row>
	<div class="desc">
		<img src="assets/imgs/karekare.png" alt="">
	<h4 class="titles curvyFont">Kusina Filipina</h4>

	<!-- <ion-item style="padding: 0px !important;" >
		<ion-title  class="titles" color="dark">Specialties:</ion-title>
	</ion-item>-->
	
	<p class="intro">
		<!-- <ion-icon class="iconFont" color="danger" name="information-circle"></ion-icon> -->
	Authentic Filipino Cuisine in Los Angeles. Our Chefs take pride in maintaining the traditional taste of Filipino dishes.
	All Chefs here are originally from Philippines, with over 25 years of culinary experience, maintaining the utmost
	authenticity. We do Catering and Special Events! Prices: $3.75 - $37.00</p>	</div>
	
<h2 class="title mainTexts headText welcomeText headFont" >Kusina Filipina Has Known For Its</h2>
	<ion-slides class="slidesHolder">
		<ion-slide class="slides">
			<ion-card class="slidesCard">
				<div>
					<div>
						<p><ion-icon ios="ios-medkit" md="md-medkit"></ion-icon></p>
						<ion-label>
							Health Score: <span>A</span>
							<hr>
						</ion-label>
					</div>
					<div>
						<p><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></p>
						<ion-label>
							Takes Reservations: <span>Yes</span>
							<hr>
						</ion-label>
					</div>
				</div>
				<div>
					<div>
						<p><ion-icon ios="ios-basket" md="md-basket"></ion-icon></p>
						<ion-label>
							Take Out: <span>Yes</span>
							<hr>
						</ion-label>
					</div>
					<div>
						<p><ion-icon ios="ios-person" md="md-person"></ion-icon></p>
						<ion-label>
							Caters: <span>Yes</span>
							<hr>
						</ion-label>
					</div>
				</div>
				
			</ion-card>
		</ion-slide>
		<ion-slide class="slides">
			<ion-card class="slidesCard">
				<div>
					<div>
						<p><ion-icon ios="ios-bicycle" md="md-bicycle"></ion-icon></p>
						<ion-label>
							Bike Parking: <span>No</span>
							<hr>
						</ion-label>
					</div>
					<div>
						<p><ion-icon ios="ios-people" md="md-people"></ion-icon></p>
						<ion-label>
							Good for Groups: <span>Yes</span>
							<hr>
						</ion-label>
					</div>
				</div>
				<div>
					<div>
						<p><ion-icon ios="ios-volume-up" md="md-volume-up"></ion-icon></p>
						<ion-label>
							Noise Level: <span>Average</span>
							<hr>
						</ion-label>
					</div>
					<div>
						<p><ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></p>
						<ion-label>
							Good For All Meals: <span>Yes</span>
							<hr>
						</ion-label>
					</div>
				</div>
		</ion-card>
		</ion-slide>
			<ion-slide class="slides">
				<ion-card class="slidesCard">
					<div>
						<div>
							<p><ion-icon ios="ios-beer" md="md-beer"></ion-icon></p>
							<ion-label>
								Happy Hour: <span>No</span>
								<hr>
							</ion-label>
						</div>
						<div>
							<p><ion-icon ios="ios-umbrella" md="md-umbrella"></ion-icon></p>
							<ion-label>
								Outdoor Seating: <span>No</span>
								<hr>
							</ion-label>
						</div>
					</div>
					<div>
						<div>
							<p><ion-icon ios="ios-wifi" md="md-wifi"></ion-icon></p>
							<ion-label>
								Free Wi-Fi: <span>Yes</span>
								<hr>
							</ion-label>
						</div>
						<div>
							<p><ion-icon ios="ios-paw" md="md-paw"></ion-icon></p>
							<ion-label>
								Dogs Allowed: <span>No</span>
								<hr>
							</ion-label>
						</div>
					</div>
				</ion-card>
			</ion-slide>
				<ion-slide class="slides">
					<ion-card class="slidesCard">
						<div>
							<div>
								<p><ion-icon ios="ios-body" md="md-body"></ion-icon></p>
								<ion-label>
									GNR: <span>Yes</span>
									<hr>
								</ion-label>
							</div>
							<div>
								<p><ion-icon ios="ios-nutrition" md="md-nutrition"></ion-icon></p>
								<ion-label>
									Vegan Options: <span>Yes</span>
									<hr>
								</ion-label>
							</div>
						</div>
					<div>
						<div>
							<p><ion-icon ios="ios-send" md="md-send"></ion-icon></p>
							<ion-label>
								Delivery: <span>Yes</span>
								<hr>
							</ion-label>
						</div>
						<div>
							<p><ion-icon ios="ios-card" md="md-card"></ion-icon></p>
							<ion-label>
								Credit Cards: <span>Yes</span>
								<hr>
							</ion-label>
						</div>
					</div>
					</ion-card>
				</ion-slide>
				<ion-slide class="slides">
					<ion-card class="slidesCard">
						<div>
							<div>
								<p><ion-icon ios="ios-car" md="md-car"></ion-icon></p>
								<ion-label>
									Private Parking: <span>Yes</span>
									<hr>
								</ion-label>
							</div>
							<div>
								<p><ion-icon ios="ios-happy" md="md-happy"></ion-icon></p>
								<ion-label>
									Good for Kids: <span>Yes</span>
									<hr>
								</ion-label>
							</div>
						</div>
						<div>
							<div>
								<p><ion-icon ios="ios-bulb" md="md-bulb"></ion-icon></p>
								<ion-label>
									Ambience: <span>Casual</span>
									<hr>
								</ion-label>
							</div>
							<div>
								<p><ion-icon ios="ios-pint" md="md-pint"></ion-icon></p>
								<ion-label>
									Alcohol: <span>No</span>
									<hr>
								</ion-label>
							</div>
						</div>
					</ion-card>
				</ion-slide>
				<ion-slide class="slides">
					<ion-card class="slidesCard">
						<div>
							<div>
								<p><ion-icon ios="ios-desktop" md="md-desktop"></ion-icon></p>
								<ion-label>
									TV: <span>Yes</span>
									<hr>
								</ion-label>
							</div>
						</div>
					</ion-card>
				</ion-slide>
	</ion-slides>
<!-- 
<hr>

	<ion-item style="padding: 0px !important" class="no-line" >
		<ion-title class="titles" style="color: #d32323 !important;  ">Store Hours:</ion-title>
	</ion-item>

	<ion-list class="lister">
		<div>
			<ion-item>
				<ion-label>Monday: <span>Closed</span></ion-label>
			</ion-item>
			<ion-item>
				<ion-label>Tuesday: <span>10:00am - 10:00pm</span></ion-label>
			</ion-item>
			<ion-item>
				<ion-label>Wednesday: <span>10:00am - 10:00pm</span></ion-label>
			</ion-item>
			<ion-item>
				<ion-label>Thursday: <span>10:00am - 10:00pm</span></ion-label>
			</ion-item>
		</div>
		<div>
			<ion-item>
				<ion-label>Friday: <span>10:00am - 10:00pm</span></ion-label>
			</ion-item>
			<ion-item>
				<ion-label>Saturday: <span>10:00am - 10:00pm</span></ion-label>
			</ion-item>
			<ion-item>
				<ion-label>Sunday: <span>10:00am - 04:00pm</span></ion-label>
			</ion-item>
		</div>
		
	</ion-list>-->
		<ion-row no-padding>
			<div class="contentSections footerSect" style="text-align: left !important;">
				<h2 class="mainTexts headFont" >SUBSCRIBE NOW</h2>
				<hr>
				<div class="subTexts" style="text-align: left !important; padding: 0px !important;">
					<p>Sign up to our newsletter to get latest food item news and our new events. This theme will help you
						organizing your site
						without any technical skills.</p>
				</div>
		
				<div class="inputSection">
					<input type="text" placeholder="Email Address">
					<button>SIGN UP</button>
				</div>
		
			</div>
		
		</ion-row>
	</div> 
<!--END OF MOBILE-->
	<div *ngIf="!checkApp">
	
		<!-- <ion-row >
			<ion-col text-left padding>
				Stories
			</ion-col>
			<ion-col text-right padding>
				Watch All
			</ion-col>
		</ion-row> -->
		<ion-row style="flex-wrap: inherit;" class="cover2" >
			<!-- <ion-slides autoplay="5000" loop="true" speed="500" class="slides" pager="true" class="image-holder">
				<ion-slide *ngFor="let image of images"  class="images" >
					<img src="assets/imgs/{{image.image}}" alt="">
				</ion-slide>
			</ion-slides> -->
			<img class="image" src="assets/imgs/cover.jpg" alt="">

			<div class="welcome">
				<h2 class="title titleText welcomeText"> <span  style="color: #ffffff !important;font-size:5vw">Welcome to</span></h2>
			</div>
			<div  class="texts2">
			<div  class="rectangle">
			<h2 class="title headFont" style="font-size:8vw;margin-bottom: 0px !important;margin-top:5vw;font-weight:bold"> <span  style="color: #C49433 !important;">KUSINA</span></h2>
			<h2 class="title headFont" style="margin-top: 0px !important;margin-bottom: 20px !important;font-weight:bold"> <span  style="color: #ffffff !important;font-size:5vw;padding-top: 0px;">FILIPINA</span></h2>
			<!-- <h6 class="subTitle">See our Menu!</h6>
			<h2 class="title "> <span  style="color: #d32323 !important; font-weight: bold;">K</span>usina <span  style="color: #d32323 !important; font-weight: bold;">F</span>ilipina</h2> -->
			</div>
			<button ion-button class="menu-button" (click)="callNow()">
				<h2>View Menu</h2>
			</button>

			</div>
		</ion-row>

		<div class="first-section story">
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-6="" push-lg-3="" class="text-menu">
					<div class="container" style="text-align: center">
						<h1 class="titleText" style="font-size:5vw"> <span style="color: #C49433 !important; font-weight: bold;">Our Story</span></h1>
						<p style="font-size: 1.7rem !important;" >Our family of five immigrated to the United States in 1990. After struggling with various jobs, we managed to save enough to put up our own little restaurant in Los Angeles.</p>
						<p style="font-size: 1.7rem !important;" > We wanted to offer the people of LA something unique so we decided to go with authentic Filipino cuisine. After all, the Philippines is a melting pot of various Asian cultures. Through the centuries, Filipino cuisine has evolved to incorporate the best of Oriental food.</p>
						<p style="font-size:1.7rem !important;">We modeled our restaurant after a local Filipino eatery. And as a way of helping fellow Filipino immigrates in the City of Angels, we only employ Chefs who were originally from the Philippines.</p>
						<p style="font-size:1.7rem !important;">With over 25 years of culinary experience, we are confident that there is no other place in LA that can offer the same authentic Filipino dining experience that we do.</p>
					</div>
				</ion-col>
				
			</ion-row>
		</div>
		<ion-grid class="black">
	
	
		<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-6="" push-lg-3="" class="text-menu">
					<div class="container" style="text-align: center">
						<h1 class="titleText" style="font-size:46px;margin-top: 50px"> <span style="color: #C49433 !important; font-weight: bold;">Our Menu</span></h1>
						<h1 class="titleText Kusina" style="font-size:3vw;margin-top: 0px;color: #ffffff !important; font-weight: bold;">MENU OF THE DAY</h1>
						
					</div>
				</ion-col>
				
			</ion-row>
		<ion-row no-padding>
	
		<ion-col no-margin no-padding col-md-6 col-lg-4 col-xl-4 (click)="showPortfolio(l);" *ngFor="let l of categories" class="image-holder">
	
			<div class="show2">
				<img class="category2" src="assets/imgs/{{l.image}}">
			</div>
	
		</ion-col>
	
	</ion-row>
	</ion-grid>
	
		<hr>
		<div class="first-section second">
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-6="" push-lg-3="" class="text-menu">
					<div class="container" style="text-align: center">
						<h1 class="titleText" style="font-size:5vw"> <span style="color: #C49433 !important;">Business Hours</span></h1>
					</div>
				</ion-col>
				
			</ion-row>
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-lg-6="" class="text-menu">
					<div class="mapContainer">
						<div #map id="map"></div>
					</div>
				</ion-col>

				<ion-col class="col" col-lg-6="" class="text-menu">
					<div class="contentSections deskBrder">
						<h2 class="mainTexts headFont">OPEN FOR SPECIAL OCASIONS</h2>
						<div class="alarmIcon">
							<ion-icon name="alarm" class="goldenText"></ion-icon>
						</div>
						<div class="sched subTexts">
							<h4>Monday - Saturday: 10:00am - 10:00pm</h4>
							<h4>Sunday: 10:00am - 04:00pm</h4>
						</div>
					</div>
				</ion-col>
				
			</ion-row>
		</div>
		

	
			<!-- <ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-6="" push-lg-6="" class="text-menu">
					<div class="container" style="text-align: center">	
		<ion-list class="listy deskList">
			<div>
				<ion-item>
					<ion-label>Monday: <span>Closed</span></ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Tuesday: <span>10:00am - 10:00pm</span></ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Wednesday: <span>10:00am - 10:00pm</span></ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Thursday: <span>10:00am - 10:00pm</span></ion-label>
				</ion-item>
			</div>
			<div>
				<ion-item>
					<ion-label>Friday: <span>10:00am - 10:00pm</span></ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Saturday: <span>10:00am - 10:00pm</span></ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Sunday: <span>10:00am - 04:00pm</span></ion-label>
				</ion-item>
			</div>
	
		</ion-list>
	
					</div>
				</ion-col>
				
			</ion-row> -->
		<div class="first-section third">
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-6="" push-lg-3="" class="text-menu">
					<div class="container" style="text-align: center">
						<h1 class="titleText Kusina" style="font-size:4vw"> <span style="color: #C49433 !important;">Good To Know</span></h1>
					</div>
				</ion-col>
				
			</ion-row>
		
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-10="" push-lg-1="" class="text-menu">
					<div class="container" style="text-align: center">	
	<ion-slides class="slidesHolder2">
		<ion-slide class="slides2">
			<ion-card class="slidesCard2">
				<div>
					<div class="infoCard">
						<p><ion-icon ios="ios-medkit" md="md-medkit"></ion-icon></p>
						<ion-label>
							Health Score: <span>A</span>
							<hr>
						</ion-label>
					</div>
					<div class="infoCard" style="margin-top: 50px" >
						<p><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></p>
						<ion-label>
							Reservations: <span>Yes</span>
							<hr>
						</ion-label>
					</div>
				</div>
				<div>
					<div class="infoCard">
						<p><ion-icon ios="ios-basket" md="md-basket"></ion-icon></p>
						<ion-label>
							Take Out: <span>Yes</span>
							<hr>
						</ion-label>
					</div>
					<div class="infoCard" style="margin-top: 50px" >
						<p><ion-icon ios="ios-person" md="md-person"></ion-icon></p>
						<ion-label>
							Caters: <span>Yes</span>
							<hr>
						</ion-label>
					</div>
				</div>
				<div>
					<div class="infoCard">
						<p><ion-icon ios="ios-bicycle" md="md-bicycle"></ion-icon></p>
						<ion-label>
							Bike Parking: <span>No</span>
							<hr>
						</ion-label>
					</div>
					<div class="infoCard" style="margin-top: 50px" >
						<p><ion-icon ios="ios-people" md="md-people"></ion-icon></p>
						<ion-label>
							Good for Groups: <span>Yes</span>
							<hr>
						</ion-label>
					</div>
				</div>
				<div>
					<div class="infoCard">
						<p><ion-icon ios="ios-volume-up" md="md-volume-up"></ion-icon></p>
						<ion-label>
							Noise Level: <span>Average</span>
							<hr>
						</ion-label>
					</div>
					<div class="infoCard" style="margin-top: 50px" >
						<p><ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></p>
						<ion-label>
							Good For All Meals: <span>Yes</span>
							<hr>
						</ion-label>
					</div>
				</div>
				
			</ion-card>
		</ion-slide>
		<ion-slide class="slides2">
			<ion-card class="slidesCard2">
				
				<div>
					<div class="infoCard">
						<p><ion-icon ios="ios-beer" md="md-beer"></ion-icon></p>
							<ion-label>
								Happy Hour: <span>No</span>
								<hr>
							</ion-label>
					</div>
					<div class="infoCard" style="margin-top: 50px">
						<p><ion-icon ios="ios-umbrella" md="md-umbrella"></ion-icon></p>
							<ion-label>
								Outdoor Seating: <span>No</span>
								<hr>
							</ion-label>
						</div>
				</div>
				<div>
					<div class="infoCard">
						<p><ion-icon ios="ios-wifi" md="md-wifi"></ion-icon></p>
							<ion-label>
								Free Wi-Fi: <span>Yes</span>
								<hr>
							</ion-label>
					</div>
					<div  class="infoCard" style="margin-top: 50px">
						<p><ion-icon ios="ios-paw" md="md-paw"></ion-icon></p>
							<ion-label>
								Dogs Allowed: <span>No</span>
								<hr>
							</ion-label>
					</div>
				</div>
				<div>
					<div class="infoCard">
						<p><ion-icon ios="ios-body" md="md-body"></ion-icon></p>
						<ion-label>
								GNR: <span>Yes</span>
								<hr>
						</ion-label>
					</div>
					<div class="infoCard" style="margin-top: 50px">
						<p><ion-icon ios="ios-nutrition" md="md-nutrition"></ion-icon></p>
						<ion-label>
								Vegan Options: <span>Yes</span>
								<hr>
						</ion-label>
					</div>
				</div>
				<div>
					<div class="infoCard">
						<p><ion-icon ios="ios-send" md="md-send"></ion-icon></p>
							<ion-label>
								Delivery: <span>Yes</span>
								<hr>
							</ion-label>
					</div>
					<div class="infoCard" style="margin-top: 50px" >
						<p><ion-icon  ios="ios-card" md="md-card"></ion-icon></p>
							<ion-label>
								Credit Cards: <span>Yes</span>
								<hr>
							</ion-label>
					</div>
				</div>
		</ion-card>
		</ion-slide>
			<ion-slide class="slides2">
				<ion-card class="slidesCard2">
				<div>
					<div class="infoCard">
						<p><ion-icon ios="ios-car" md="md-car"></ion-icon></p>
							<ion-label>
								Private Parking: <span>Yes</span>
								<hr>
							</ion-label>
					</div>
					<div  class="infoCard" style="margin-top: 50px">
						<p><ion-icon  ios="ios-happy" md="md-happy"></ion-icon></p>
							<ion-label>
								Good for Kids: <span>Yes</span>
								<hr>
							</ion-label>
					</div>
				</div>
				<div>
							<div class="infoCard">
								<p><ion-icon ios="ios-bulb" md="md-bulb"></ion-icon></p>
								<ion-label>
									Ambience: <span>Casual</span>
									<hr>
								</ion-label>
							</div>
						</div>
						<div>
							<div class="infoCard">
								<p><ion-icon  ios="ios-pint" md="md-pint"></ion-icon></p>
								<ion-label>
									Alcohol: <span>No</span>
									<hr>
								</ion-label>
							</div>
						</div>
						<div>
							<div class="infoCard">
								<p><ion-icon ios="ios-desktop" md="md-desktop"></ion-icon></p>
								<ion-label>
									TV: <span>Yes</span>
									<hr>
								</ion-label>
							</div>
						</div>
		</ion-card>
			</ion-slide>
	</ion-slides>
					</div>
				</ion-col>
				
			</ion-row>
		</div>

		<div class="first-section footer" style="padding-top: 0px !important;margin-top: -10px !important">
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-3="" class="text-menu">
					<div class="container contactUs" style="text-align: left">
						<h2 class="headFont" style="margin-bottom: 0px;"><strong>BUSINESS HOURS</strong></h2>
						<hr class="ftrLine" style="width: 20%;height: 30px;color: #C49433 !important; text-align: left"> 
						<p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Monday - Thursday: </span>06AM - 10PM</p>
						<p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Friday - Saturday: </span>10AM - 11:30PM</p>
						<p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><span style="font-weight: bold">Sunday: </span>1PM - 10PM</p>

					</div>
				</ion-col>
				<ion-col class="col" col-12="" col-lg-6="" text-center="">
					<div class="container contactUs" style="text-align: center">
						<img src="assets/imgs/logoName.png" alt="" style="height:100px;margin:0px;">
						<p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="map" color="charcoal" style="font-size:1.5em"></ion-icon> 503 Old Buffalo Street NY, 205</p>
						<p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="call" color="charcoal" style="font-size:1.5em"></ion-icon>(+088) 589-8745</p>
						<p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"><ion-icon name="mail" color="charcoal" style="font-size:1.5em"></ion-icon><span style="color:#C49433"> infoname@gmail.com</span></p>
					</div>
					
				</ion-col>
				<ion-col class="col" col-12="" col-lg-3="" text-center="">
					<div class="container contactUs" style="text-align: left;">
						<h2 class="headFont" style="margin-bottom: 0px;"><strong>SUBSCRIBE NOW</strong></h2>
						<hr class="ftrLine" style="width: 20%;height: 30px;color: #C49433 !important; text-align: left"> 
						<p class="headFont" style="font-size: 1.5rem;margin-top: 0px;"> Sign up now to our newsletter to get latest food items and our new events. This theme will help you organize your site without any technical skills.</p>

						 <div class="inputSection">
          <input type="text" placeholder="Email Address">
          <button>SIGN UP</button>
        </div>


					</div>
					
				</ion-col>
			</ion-row>
		</div>
		<div class="last-section" >
			<ion-row align-items-center="" class="row">
				<ion-col class="col" col-12="" col-lg-4="" class="text-menu">
					<div class="container" style="text-align: left">
						<p class="headFont" style="font-size: 1.5rem;margin:0px;margin-left: 15px;">© 2019 All Rights Reserved</p>
						</div>
				</ion-col>
			</ion-row>
		</div>

		
		
	</div>
</ion-content>

<ion-footer transparent *ngIf="checkApp">
		<ion-toolbar class="footer-text mobile-footer" color="brownLight" >
			<h5><span class="iconFont">
					<ion-icon color="goldenBrown" name="time"></ion-icon>
				</span><span style="margin-left: -8px !important">{{ timeSched }}</span></h5>
			<h5><span class="iconFont">
					<ion-icon color="goldenBrown" name="contacts"></ion-icon>
				</span><span style="margin-left: -8px !important">Kusina Filipina 2019</span></h5>
				<h5><span class="iconFont">
						<ion-icon color="goldenBrown" name="mail"></ion-icon>
					</span><span style="margin-left: -8px !important">info@gmail.com</span></h5>
			<div class="eatIcon">
				<div class="eatIconContent">
					<ion-icon name="restaurant" color="goldenBrown"></ion-icon>
					<p class="eatSubText">An oasis of pleasure</p>
				</div>
			</div>
		</ion-toolbar>
</ion-footer>